body {
    display: flex;
    flex-direction: column;
}


.main-header {
    padding: 1.5rem;
    background-color: var(--primary-clr);
}

.header-content {
    max-width: 90rem;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;

    .hamburger-icon {
        display: none;

        @media (min-width: 520px) {
            display: inline;
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.hero {
    max-width: 90rem;
    position: relative;

    @media (min-width: 520px) {
        margin-inline: auto;
    }
}

.hero picture img {
    width: 100%;
    padding: 1.5rem 1rem 0 1rem;

    @media (min-width: 520px) {
        padding: 0;
        object-fit: cover;
    }
}

.hero-logo {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translate(-50%, 50%);
    width: 8.75rem;
    height: 8.75rem;

    border: 16px solid #FDEADC;
    border-radius: 50%;

    box-shadow: 2px 4px 4px 0px #00000040;

    @media (min-width: 520px) {
        width: 12.5rem;
        height: 12.5rem;
    }
}

.hero-content {
    padding-inline: 1rem;
    margin-top: 5rem;
    text-align: center;

    @media (min-width: 520px) {
        padding-top: 1rem;
    }
}

.hero-heading {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    @media (min-width: 520px) {
        margin-bottom: 1.5rem;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        gap: 1.625rem;
    }
}

.rating {
    gap: 0.5rem;
    padding: 0.25rem 0.3125rem;

    color: var(--secondary-clr);
    background-color: #FACAAC;
    border-radius: 0.25rem;
    line-height: 1;

    display: flex;
    align-items: center;


    .rating-star {
        font-size: 2rem;
    }

    .rating-value {
        font-family: var(--font-base-dark);
        font-size: 1.25rem;
    }

    .rating-count {
        color: #726D6D;
        font-family: var(--font-base);
        font-size: 1.125rem;
    }
}

h1 {
    margin-top: 1.5rem;
    color: #1a1a1a;
    font-family: var(--font-base-dark);
    font-weight: 700;
    font-size: clamp(2.25rem, 1.977rem + 1.364vi, 3rem);

    span {
        color: var(--primary-clr);
    }

    @media (min-width: 520px) {
        margin-top: 0;
    }
}

.hero-tagline {
    color: var(--secondary-clr);
    font-family: var(--font-base);
    font-weight: 700;
    font-size: clamp(1.125rem, 1.1rem + 0.682vi, 1.5rem);
}

footer {
    margin-top: 2rem;
    padding: 2rem 2rem 6rem 2rem;
    background-color: var(--primary-clr);
    font-family: var(--font-base);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;

    a, p {
        color: #ffffff;
        text-decoration: none;
        font-size: 1.125rem;
        text-align: center;
    }

    .copyright {
        font-weight: 600;
        font-size: 1.5rem;
    }

    @media (min-width: 585px) {
        margin-top: 6rem;
        padding: 2rem;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        gap: 4.5rem;

        p {
            order: -1;
        }

        a, p {
            text-align: left;
        }
    }
}

.mobile-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1.5rem;
    color: #ffffff;
    background-color: var(--secondary-clr);

    display: flex;
    justify-content: space-around;
    align-items: center;

    @media (min-width: 585px) {
        display: none;
    }
}

.nav-link {
    position: relative;
    display: inline-flex;

    color: #ffffff;
    text-decoration: none;
}

.nav-link:active {
    color: var(--primary-clr);
}

.cart {
    position: relative;
    display: inline-flex;
    color: var(--primary-clr);
}

.cart-count {
    position: absolute;
    top: -0.5rem;
    right: -0.4rem;
    width: 1.125rem;
    height: 1.125rem;

    color: var(--primary-clr);
    background-color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}