@media (min-width: 1000px) {
    .basket-wrapper {
        position: sticky;
        top: 0;
        grid-column: 3;
        grid-row: 2;
    }
}

.basket-dialog {
    inset: auto 0 4.6rem 0;
    width: 23rem;
    margin-inline: auto;
    padding: 1.5rem 1.25rem;

    color: #ffffff;
    background-color: var(--secondary-clr);
    font-family: var(--font-base);
    border: none;
    border-radius: 30px 30px 0 0;

    @media (min-width: 1000px) {
        position: static;
        max-width: none;
        margin-inline: 0;
        display: block;
        transform: none;
        border-radius: 30px;
    }
}

.basket-dialog.slide-up {
    animation: basket-bounce-in 0.8s ease-in-out forwards;
}

@keyframes basket-bounce-in {
    0% {
        transform: translateY(100%);
    }

    60% {
        transform: translateY(-8%);
    }

    100% {
        transform: translateY(0);
    }
}

.basket-dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);

    @media (min-width: 1000px) {
        display: none;
    }
}

.basket-header h2 {
    padding-block: 2rem 1rem;
    color: var(--tertiary-clr);
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.basket-header {
    position: relative;
}

.basket-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    border: none;
    cursor: pointer;

    @media (min-width: 1000px) {
        display: none;
    }
}

.basket-items {
    max-height: 23rem;
    margin: 0 0 1.5rem 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    list-style: none;
    overflow-y: auto;
}

.basket-items::-webkit-scrollbar {
    width: 0.4rem;
}

.basket-items::-webkit-scrollbar-thumb {
    background-color: #862435;
    border-radius: 10px;
}

.basket-item {
    padding: 1rem;
    color: var(--secondary-clr);
    background-color: var(--tertiary-clr);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.basket-item-title {
    font-size: 1.375rem;
    font-weight: 700;
}

.basket-item-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.basket-item-controls {
    display: flex;
    align-items: center;
}

.basket-item-amount,
.basket-remove-btn,
.basket-add-btn {
    font-size: 1.5rem;
    font-weight: 600;
    background: transparent;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.basket-item-amount {
    min-width: 1.7em;
    text-align: center;
    cursor: default;
}

.basket-item-price {
    font-size: 1.375rem;
    font-weight: 700;
}

.basket-costs {
    font-size: 1.25rem;
    font-weight: 600;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 0.75rem;

    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.basket-cost-row,
.basket-total {
    display: flex;
    justify-content: space-between;
}

.basket-total {
    padding-block: 0.75rem 1.5rem;
    font-size: 1.375rem;
    font-weight: 700;
}

.basket-buy-btn {
    width: 11.5em;
    padding: 0.75rem 1.5rem;
    margin-bottom: 1rem;
    display: block;
    margin-inline: auto;

    color: #ffffff;
    background-color: var(--primary-clr);
    font-size: 1.25rem;
    font-weight: 700;
    border: none;
    border-radius: 60px;
    cursor: pointer;
}

#basket-items:empty::before {
    content: "We know you can't cook.";
    text-align: center;
    font-size: 1.3rem;
    line-height: 2;
}

#basket-items:empty::after {
    content: "";
    width: 230px;
    height: 230px;
    margin: 0 auto 1rem;
    background-image: url("../images/empty_basket_filler.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: 1000px) {
        width: 264px;
        height: 264px;
    }
}

.basket-delivery {
    display: inline-flex;
    align-items: baseline;
    gap: 0.4em;
}

.delivery-fee-original {
    font-family: system-ui, -apple-system, sans-serif;
    text-decoration: line-through;
    opacity: 0.5;
    font-size: 0.9em;
}

.delivery-fee-free {
    font-weight: 700;
    color: #ca3f56;
    font-size: 1em;
}

.hidden {
    display: none;
}

.confirmation-dialog[open] {
    width: 22rem;
    padding: 2rem 2rem 2.5rem 2rem;
    margin-block: 15vh auto;
    margin-inline: auto;

    color: var(--tertiary-clr);
    background-color: var(--secondary-clr);
    font-family: var(--font-base);
    border: none;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    h2 {
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
    }

    p {
        font-size: 1.25rem;
        font-weight: 700;
        text-align: center;
    }
}

.confirmation-dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.confirmation-close-btn {
    position: absolute;
    top: 25px;
    right: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
}