/* #region css reset */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    line-height: 1.2;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* #endregion */

:root {
    --primary-clr: #E76C1F;
    --secondary-clr: #363534;
    --tertiary-clr: #fdeadc;
    --font-base: 'Palanquin', sans-serif;
    --font-base-dark: 'Palanquin Dark', sans-serif;
}